div {
    box-sizing: border-box;
}

img {
    box-sizing: border-box;
}

#profilepic {
    /* background-color: lightblue; */
    border: 2px;
    border-color: black;
    border-style: solid;
    color: black;
    /* padding: 5px; */
    /* width: 100%; */
    position: relative;
    height: 100%;
}

.profile_pic {
    display: inline-block;
    width: 100%;
    height: 30%;
    align-items: center;
    text-align: right;
    /* display: block; */
    /* border: 1px; */
    /* border-color: black; */
    /* border-style: dotted; */
}

.nav {
    height: 60%;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-align: right;
}

.content {
    display: inline-block;
    /* border: 1px;
    border-color: red;
    border-style: dotted; */
}

#left {
    float: left;
    width: 20%;
    height: 95%;
}

#right {
    padding: 20px;
    float: right;
    width: 74%;
    height: 95%;
}

.body {
    /* align-items: center; */
    margin: auto auto;
    width: 80vw;
    height: 95vh;
}

p:hover {
    cursor: pointer;
}

#link {
    font-weight: bold;
}

#logo {
    width: 30px;
    height: 30px;
}

#contact_info {
    font-size: 12px;
}

#aboutme {
    text-align: justify;
}

#middle {
    margin: 0 20px;
    background-color: black;
    width: 3px;
    height: 95%;
}

#title {
    display: inline;
    font-style: italic;
}

#authors,
#me,
#where {
    display: inline;
}

li {
    margin: 10px;
}