:root {
    --mu-size: 1vw;
}

div {
    box-sizing: border-box;
    font-size: calc(1.3*var(--mu-size));
}

img {
    box-sizing: border-box;
    width: 100%;
}

#text_urls {
    cursor: pointer;
    display: inline-table;
    position: relative;
    font-weight: bold;
}
#text_urls:hover{
    text-decoration: underline;
}

#link, .github {
    cursor: pointer;
    font-weight: bold;
    font-size: calc(1.2*var(--mu-size));
    color: rgb(5, 5, 5);
    background-color: lightgray;
    border: 1px dotted black;
    padding: calc(0.25*var(--mu-size));
    margin-top: calc(0.75*var(--mu-size));
    margin-bottom: calc(0.75*var(--mu-size));
    border-radius: calc(10*var(--mu-size));
    text-align: center;
}

#link:hover, .github:hover {
    color: rgb(255, 255, 255);
    background-color: gray;
    border: 1px solid gray;
}

.github{
    display: inline;
    position: relative;
}

#profilepic {
    /* background-color: lightblue; */
    color: black;
    position: relative;
    height: auto;
}

.nav {
    height: 60%;
    width: 100%;
    display: inline-block;
    padding: calc(1*var(--mu-size));
    text-align: right;
    padding: 0px;
}

.content {
    display: inline-block;
}

#left {
    float: left;
    width: 24%;
    height: 100%;
}

#right {
    border-left: calc(0.25*var(--mu-size)) solid black;
    /* border-color: black;
    border-style: solid; */
    padding: calc(1.5*var(--mu-size));
    padding-top: 0px;
    float: right;
    width: 74%;
    height: 100%;
}

.body {
    /* align-items: center; */
    margin: auto auto auto auto;
    width: calc(80*var(--mu-size));
    height: calc(45*var(--mu-size));
}

#logo {
    width: calc(3*var(--mu-size));
    height: auto;
}

#logo:hover {
    border: solid rgb(26, 26, 26) calc(0.2*var(--mu-size));
    border-radius: calc(3*var(--mu-size));
}

#contact_info {
    font-weight: normal;
    padding: calc(0.1*var(--mu-size));
    font-size: calc(1*var(--mu-size));
    width: 100%;
    text-align: center;
    font-size: calc(1*var(--mu-size));
    float: right;
}

#aboutme {
    text-align: justify;
}

#me, #me:hover {
    cursor: pointer;
    font-weight: bolder;
    font-size: medium;
    display: inline;
    font-size: calc(1.2*var(--mu-size));
}

#authors{
    font-size: calc(1.2*var(--mu-size));
    display: inline;
}

#title {
    font-size: calc(1.4*var(--mu-size));
    display: inline-block;
}

#where,#when {
    display: inline;
    font-size: calc(1.1*var(--mu-size));
}

.img_logos_organization {
    display: inline-flex;
}

.paper {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dashed black;
}

.square {
    width: calc(8*var(--mu-size));
    height: calc(8*var(--mu-size));
}

.rectangle {
    width: calc(15*var(--mu-size));
    height: calc(8*var(--mu-size));
}

#org_logos {
    display: inline-block;
    margin: 0;
    width: 100%;
    text-align: center;
}

a {
    color: black;
    font-weight: bold;
    font-size: calc(1.2*var(--mu-size));
    text-decoration: black;
}


li.newsitem, li.recentnews {
    list-style-type: "-  ";
    margin: calc(0.25*var(--mu-size));;
    padding: 0px;
    font-size: calc(1.1*var(--mu-size));
    
}

li.recentnews{
    background: lightsteelblue;
    width: fit-content;
}

.news {
    margin: auto;
    margin-top: calc(1*var(--mu-size));
    align-items: center;
    border: calc(0.1*var(--mu-size)) dashed black;
    border-radius: calc(1*var(--mu-size));
    padding-left: calc(1*var(--mu-size));
    padding-right: calc(2*var(--mu-size));
    padding-top: 0px;
    width: fit-content;
}